/* Debug */
.ms_container {
  border: 1px solid black;
}
.ms_container-fluid {
  border: 1px solid red;
}
.ms_row {
  /* border: 1px solid green; */
}
.ms_col {
  border: 1px solid orange;
  /* height: 200px; */
}
section {
  margin: 5vh 0;
  border: 3px solid purple;
}

/* COMMON */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {

}

/* UTILITIES */
.ms_wrapper {
  width: 50%;
  margin: 0 auto;
}
/* HEADER */
/* Fixed Nav */
.ms_navbar {
  margin: 0;
  background-color: white;
}
.ms_navbar .ms_container {
}
.ms_navbar .ms_container img {
  max-width: 170px;
}
.ms_navbar .ms_container ul {
  margin: 0;
}

/* Jumbotron */
.ms_jumbotron {
  margin-top: 50px;
  background-image: url(../img/digitaljumbo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.ms_jumbotron .ms_signin {
  background-color: white;
}
/* Partners */

/* MAIN */
/* 1St Section  */
/* 2Nd Section  */
/* 3Rd Section  */
/* 4Th Section  */
/* 5Th Section  */

/* FOOTER */
