/* Debug */
.ms_container {
  border: 1px solid black;
}
.ms_container-fluid {
  /* border: 1px solid red; */
}
.ms_row {
  /* border: 1px solid green; */
}
.ms_col {
  border: 1px solid orange;
  /* height: 200px; */
}
section {
  /* margin: 5vh 0; */
  /* border: 3px solid purple; */
}

/* COMMON */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
}

/* UTILITIES */
.ms_wrapper {
  width: 50%;
  margin: 0 auto;
}
.ms_dark_blue {
  color: #031C4E;
}
.ms_light_grey {
  color: #6F7B97;
}
.ms_light_blue {
  color: #0E72FF;
}
.ms_light_bulk {
  font-weight: 500;
}
.ms_bulk {
  font-weight: 600;
}
.ms_bulker {
  font-weight: 700;
}
/* HEADER */
/* Fixed Nav */
header .ms_navbar {
  background-color: white;
  border: none;
}
.ms_navbar .ms_container .row [class*="col-"] {
  height: 60px;
  line-height: 60px;
}
.ms_navbar .ms_container .ms_list li a {
  color: #2D426B;
  padding-right: 5px;
}
.ms_navbar .ms_container img {
  max-height: 30px;
  margin-bottom: 5px;
}
.ms_navbar .ms_button {
  border-color: #3A8AFF;
  background-color: white;
}
/* Jumbotron */
.ms_jumbotron {
  background-image: url(../img/bg_jumbotron.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 60px 0 0 0;
  color: white;
}
.ms_jumbotron h1 {
  font-size: 34px;
}
.ms_jumbotron p {
  font-size: 20px;
  font-weight: lighter;
  margin-top: 2%;
}
.ms_jumbotron .ms_signin {
  background-color: white;
  border-radius: 0.5em;
  padding: 0.5% 2%;
}
.ms_jumbotron .ms_signin form input,
.ms_jumbotron .ms_signin button {
  margin-bottom: 3.5%;
}
.ms_jumbotron .ms_signin input {
  box-shadow: 0px 0px 0px 0px;
  font-size: 16px;
}
.ms_jumbotron .ms_signin button:first-of-type {
  background-color: #579AFF;
  border: 1px solid #579AFF;
}
.ms_jumbotron .ms_signin button:last-of-type {
  border: none;
  box-shadow: 2.5px 2.5px 1px  lightgrey;
}
.ms_jumbotron .ms_signin button img {
 max-height: 20px;
}
.ms_jumbotron .ms_signin p:not(a) {
  font-size: 12px;
  margin-top: 3%;
  font-weight: bold;
}
.ms_jumbotron .ms_signin p a {
  text-decoration: underline;
}
/* Partners */
#partners {
  background-color: #F3F5F9;
}
.ms_partners h4 {
  font-size: 12px;
  padding: 2.5% 0;
}
.ms_partners .ms_col,
.ms_partners .ms_row {
  padding: 0px;
}
.ms_partners img {
  width: 45%;
  height: 140px;
  margin: 0 2%;
}
.ms_partners h5 {
  padding: 1% 0;
}

/* MAIN */
/* 1St Section  */
#ms_first-section .section-head_text{
  margin: 3% 0;
}
#ms_first-section .section-head_text p {
  font-size: 16px;
}
#ms_first-section ul {
  border-left: 1px solid lightgrey;
  display: inline-block;
  width: 10%;
  font-size: 15px;
}
#ms_first-section ul li {
  margin: 18px 0px;
  padding-left: 10px;
}
#ms_first-section ul li a {
  color: #6F7B97;
}
#ms_first-section img {
  height: 35px;
  width: 35px;
}
#ms_first-section .ms_col-wrap {
  width: 100%;
  min-height: 120px;
}
/* 2Nd Section  */
#ms_second-section {
  background-color: #F3F5F9;
  padding: 3% 0;
  line-height: 2em;
}
#ms_second-section .ms_section-head {
  line-height: 5em;
}
#ms_second-section .ms_section-head h2 {
  margin: 0px;
}
#ms_second-section .ms_section-head p {
  font-size: 18px;
}
#ms_second-section .ms_img_container {
  margin: 0 auto;
  max-width: 90%;
  border: 1px solid green;
  margin-bottom: 2%;
}
#ms_second-section .ms_img_container i {
  font-size: 200%;
}
#ms_second-section .ms_img_container i:first-of-type {
  color: #6F7B97;
}
#ms_second-section .ms_img_container img {
  width: 60%;
  margin: 0 2% 0 2%;
}
#ms_second-section .circles #filled:before {
  background-color: #0E72FF;
}
#ms_second-section .circles span:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #0E72FF;
}

/* 3Rd Section  */
/* 4Th Section  */
/* 5Th Section  */

/* FOOTER */

/* MQ TABLET */
@media screen and (min-width: 768px) and (max-width: 992px) {
  /* COMMON */
  .ms_container {
    width: 100%;
  }
  /* HEADER */
  /* Fixed Nav */
  /* Jumbotron */
  .ms_jumbotron {
    padding: 3%;
  }
  .ms_jumbotron h1 {
    font-size: 34px;
  }
  /* Partners */

  /* MAIN */
  /* 1St Section  */
  #ms_first-section .ms_col-wrap {
    width: 49.5%;
    height: 170px;
  }
  /* 2Nd Section  */
  /* 3Rd Section  */
  /* 4Th Section  */
  /* 5Th Section  */

  /* FOOTER */
}
/* MQ DESKTOP */
@media screen and (min-width: 992px) {
  /* COMMON */
  /* UTILITIES */
  /* HEADER */
  /* Fixed Nav */
  /* Jumbotron */
  .ms_jumbotron h1 {
    font-size: 54px;
  }
  /* Partners */
  .ms_partners h4 {
    font-size: 15px;
  }

  /* MAIN */
  /* 1St Section  */
  #ms_first-section .ms_col-wrap {
    width: 49.5%;
    height: 170px;
  }
  /* 2Nd Section  */
  /* 3Rd Section  */
  /* 4Th Section  */
  /* 5Th Section  */

  /* FOOTER */
}
