/* Debug */
.ms_container {
  border: 1px solid black;
}
.ms_container-fluid {
  border: 1px solid red;
}
.ms_row {
  /* border: 1px solid green; */
}
.ms_col {
  border: 1px solid orange;
  /* height: 200px; */
}
section {
  margin: 5vh 0;
  border: 3px solid purple;
}

/* COMMON */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {

}

/* UTILITIES */
.ms_wrapper {
  width: 50%;
  margin: 0 auto;
}
/* HEADER */
/* Fixed Nav */
header .ms_navbar {
  background-color: white;
  border: none;
}
.ms_navbar .ms_container .row [class*="col-"] {
  height: 60px;
  line-height: 60px;
}
.ms_navbar .ms_container .ms_list li a {
  color: #2D426B;
}
.ms_navbar .ms_container img {
  max-height: 30px;
  margin-bottom: 5px;
}
.ms_navbar .ms_button {
  border-color: #3A8AFF;
  color: #3A8AFF;
  background-color: white;
}
.ms_navbar .hamburger {
  color: #3A8AFF;
}
/* Jumbotron */
.ms_jumbotron {
  background-image: url(../img/bg_jumbotron.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 60px 0 0 0;
}
.ms_jumbotron .ms_signin {
  background-color: white;
}
/* Partners */

/* MAIN */
/* 1St Section  */
/* 2Nd Section  */
/* 3Rd Section  */
/* 4Th Section  */
/* 5Th Section  */

/* FOOTER */

/* MQ TABLET */
@media screen and (min-width: 768px) and (max-width: 992px) {
  /* COMMON */
  .ms_container {
    width: 100%;
  }
  /* HEADER */
  /* Fixed Nav */
  /* Jumbotron */
  /* Partners */

  /* MAIN */
  /* 1St Section  */
  /* 2Nd Section  */
  /* 3Rd Section  */
  /* 4Th Section  */
  /* 5Th Section  */

  /* FOOTER */
}
